body {
  background-color: #02010a;
  font-family: 'Dancing Script';
  font-size: 1.5vw;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 10%;
  background-color: #5b7989;
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  animation: rebote 1.3s;
}

header h1 {
  color: white;
  text-shadow: 2px 2px #02010a;
  width: 70%;
  margin-left: 5%;
  font-size: 1.8em;
}

header a {
  width: 100%;
  height: 100%;
float: right;
color: white;
font-size: 1.25em;
margin-top: 20%;
}

#banner nav a.menu-opt {
  text-decoration: none;
}

#menu-principal {
  width: 30%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  text-align: center;

}

#menu-principal p {
  width: 33%;
  height: 50px;
  margin: 0 ;
  padding: 0;

}

.menu-opt1 {
  order: 1;
}

.menu-opt2 {
  order: 2;
}

.menu-opt3{
  order: 3;
}

#contenido {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background-color: #d5c75f;

}

#contenido div {
  width: 33%;
}

div img {
  width: 80%;
  margin: 2%;
  padding: 2%;
  -webkit-filter: drop-shadow(2px #02010a);
  filter: drop-shadow(2px 2px 2px #02010a);
}

#img1 {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

#img2, #img4, #img6 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#img3 {
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

footer {
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
}
.c1 {
  order: 1;
}

.c2 {
  order: 2;
}

.c3 {
  order: 3;
}

.c4 {
  order: 4;
}

.c1, .c2, .c3, .c4 {
  width: 25%;
  text-align: center;
  font-size: 1.25em;
}

@-webkit-keyframes rebote {
  0% {
    margin-top: 150%;
  }

  60% {
    margin-top: -5%;
  }

  100% {
    margin-top: 0%;
  }
}

@media (max-width: 900px){

  body {
    font-size: 2.5vw;
  }

  header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    text-align: center;
    height: 3%;
  }

  header p {
    width: 33%;
    margin: 0 auto;
    padding: 0 2% 0 2%;
  }

  header a {
    margin: 0 auto;
  }

  header h1 {
    width: 100%;
    margin-left: 0;
  }

  #menu-principal {
    width: 50%;
    margin: 0 25%;
  }

  #contenido {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    text-align: center;
  }

  #contenido div {
    width: 100%;
  }

footer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
}

footer div {
  width: 100%;
  margin: 0 auto;
}

}
