body {
  background-color: #02010a;
  font-family: 'Dancing Script';
  font-size: 1.5vw;
  margin: 0 auto;
}

div img {
  -webkit-filter: drop-shadow(2px #02010a);
  filter: drop-shadow(2px 2px 2px #02010a);
}

header {
  width: 100%;
  height: 10%;
  background-color: #5b7989;
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  animation: rebote 1.3s;
}

header h1 {
  color: white;
  text-shadow: 2px 2px #02010a;
  width: 70%;
  margin-left: 5%;
  font-size: 1.8em;
}

header a {
  width: 100%;
  height: 100%;
float: right;
color: white;
font-size: 1.25em;
margin-top: 20%;
}

header a::selection   {
  text-decoration: none;
}

#menu-principal {
  width: 30%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  text-align: center;

}

#menu-principal p {
  width: 33%;
  height: 50px;
  margin: 0 ;
  padding: 0;

}

.menu-opt1 {
  padding: 2%;
  order: 1;
}

.menu-opt2 {
  order: 2;
}

.menu-opt3{
  order: 3;
}

#contenido {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

.imagen-central {
  text-align: center;
  background-color: #82c3a6;
  display: block;
}

.imagen-central img {
  width: 80%;
  margin: 10px;
  padding: 10px;
}

.imagenes-secundarias {
  width: 100%;
  background-color:  #d5c75f;
  border: 1px solid white;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

#imgsec1 {
  width: 50%;
  text-align: center;
  order: 1;
}

 #imgsec2 {
   width: 50%;
   text-align: center;
   order: 2;
 }

#imgsec1 img {
  width: 85%;
  margin: 2%;
  padding: 0;
  border: 2px solid white;
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: linear;
}

#imgsec1 img:hover {
  transform: rotate(10deg);
}

#imgsec1 h2 {
  text-align: center;
  margin: 0 0 2% 0;
  padding: 0;
}

 #imgsec2 img {
   width: 85%;
   margin: 2%;
   padding: 0;
   border: 2px solid white;
   transition-property: transform;
   transition-duration: 0.6s;
   transition-timing-function: linear;
 }

 #imgsec2 img:hover {
   transform: translate(20px, -5px);
 }

#imgsec2 h2 {
  text-align: center;
  margin: 0 0 2% 0;
  padding: 0;
}

footer {
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
}
.c1 {
  order: 1;
}

.c2 {
  order: 2;
}

.c3 {
  order: 3;
}

.c4 {
  order: 4;
}

.c1, .c2, .c3, .c4 {
  width: 25%;
  text-align: center;
  font-size: 1.25em;
}

@-webkit-keyframes rebote {
  0% {
    margin-top: 150%;
  }

  60% {
    margin-top: -5%;
  }

  100% {
    margin-top: 0%;
  }
}

@media (max-width: 900px){

  body {
    font-size: 2.5vw;
  }

  header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    text-align: center;
    height: 3%;
  }

  header p {
    width: 33%;
    margin: 0 auto;
    padding: 0 2% 0 2%;
  }

  header a {
    margin: 0 auto;
  }

  header h1 {
    width: 100%;
    margin-left: 0;
  }

  #menu-principal {
    width: 50%;
    margin: 0 25%;
  }

  #contenido {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .imagen-central img {
    width: 85%;
    margin: 3%;
    padding: 0;
  }

  .imagenes-secundarias {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
  }

#imgsec1, #imgsec2 {
  width: 100%;
}

#imgsec1 img, #imgsec2 img {
  margin: 3%;
  padding: 0;
}

footer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
}

footer div {
  width: 100%;
  margin: 0 auto;
}

}
